.sessionTitleOption{
    background-color: #eee;
    text-align: left;
    font-size: 30px;
    margin-top: -5%;
    padding-left : 60px;
    padding-right : 30px;
    padding-bottom : 20px ;
    padding-top : 20px ;
    border-radius: 6px;
    text-align: left;
}

.uniqueContainer{
    padding-left: 10% ;
    padding-right: 10% ;
}
.uniqueTitle{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 63px;
    font-weight: 500;
}

.uniqueContent{
    margin-top: 10%;
}

.pOption{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.uniqueImg{
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 40%;
    height: 25%;
}

.container{
    margin-top: 10%;
}



@media (max-width: 800px) {
    .sessionImg{
        max-width: 100%;
        height: auto;
        padding: 5px;     
        margin: 0%;  
    }

    .sessionTitleOption{         
        margin-top: 20px;   
       
    }
  
}