.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 20%;
    height: 25%;
    margin: 20px;
    display: inline-block;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 0 1px #e4e7eb;
    cursor: pointer;


}

.img{
    width: 307px !important;
    max-height: 100px !important;
    border-bottom: solid 0 0 0 1px #e4e7eb;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;

    box-shadow: 0 0 0 1px #e4e7eb;
}

p :link{
    text-decoration:none;
}
